<footer class="footer">
  <div class="footer__container container">

    <div class="footer__col footer__col--logo">
      <a href="./#hero" class="footer__logo">NEUTR-XEN</a>
      <p class="footer__slogan">
        IT-образование для тех, кто смотрит в будущее.
      </p>
      <div class="footer__socials">
        <a href="https://www.facebook.com/" aria-label="Facebook"><i data-lucide="facebook"></i></a>
        <a href="https://www.instagram.com/" aria-label="Instagram"><i data-lucide="instagram"></i></a>
        <a href="https://www.linkedin.com/" aria-label="LinkedIn"><i data-lucide="linkedin"></i></a>
      </div>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Навигация</h4>
      <ul class="footer__list">
        <li class="footer__item"><a href="./#program" class="footer__link">Программа</a></li>
        <li class="footer__item"><a href="./#advantages" class="footer__link">Преимущества</a></li>
        <li class="footer__item"><a href="./#technology" class="footer__link">Технология</a></li>
        <li class="footer__item"><a href="./#reviews" class="footer__link">Отзывы</a></li>
        <li class="footer__item"><a href="./#contact" class="footer__link">Связаться</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Правовая информация</h4>
      <ul class="footer__list">
        <li class="footer__item"><a href="./privacy.html" class="footer__link">Политика конфиденциальности</a></li>
        <li class="footer__item"><a href="./cookies.html" class="footer__link">Политика Cookie</a></li>
        <li class="footer__item"><a href="./terms.html" class="footer__link">Условия использования</a></li>
        <li class="footer__item"><a href="./return.html" class="footer__link">Условия возврата</a></li>
        <li class="footer__item"><a href="./disclaimer.html" class="footer__link">Отказ от ответственности</a></li>
        <li class="footer__item"><a href="./personal-data-policy.html" class="footer__link">Политика обработки ПД</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Контакты</h4>
      <address class="footer__address">
        <p>Via della Conciliazione, 37</p>
        <p>00193 Roma RM, Italia</p>
        <a href="tel:+390691583021" class="footer__contact-link">+39 06 9158 3021</a>
        <a href="mailto:study@neutr-xen.today" class="footer__contact-link">study@neutr-xen.today</a>
      </address>
    </div>

  </div>
  <div class="footer__copy container">
    &copy; 2025 NEUTR-XEN. Все права защищены.
  </div>
</footer>