.header {
  background-color: var(--color-white);
  padding: var(--spacing-s) 0;
  box-shadow: var(--shadow-light);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
}

.header__nav {
  display: block;
}

.header__list {
  display: flex;
  list-style: none;
  gap: var(--spacing-m);
}

.header__link {
  text-decoration: none;
  color: var(--color-text-dark);
  font-weight: 500;
  padding: 5px 0;
  position: relative;
}

.header__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.header__link:hover::after {
  width: 100%;
}

.header__link--cta {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: 8px 15px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.header__link--cta:hover {
  background-color: #388e3c;
}

.header__link--cta::after {
  display: none;
}

.header__burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.header__burger i {
  color: var(--color-text-dark);
  width: 28px;
  height: 28px;
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: block;
  }
}
@media (max-width: 992px) {

  .header__nav {
    display: none;
    position: absolute;
    top: 100%;
     left: 0;
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-s) 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    z-index: 999;
  }

  /* Активация меню */
  .header__nav--active {
    display: block;
    transform: translateY(0);
  }

  .header__list {
    flex-direction: column;
    gap: var(--spacing-s);
    padding: 0 var(--spacing-m);
  }

    .header__link--cta {
        display: block;
       text-align: center;
       border-bottom: none;
       padding: 8px 15px !important;
      position: static;
    }
  
    .header__link--cta::after {
      display: none !important;
    }
  .header__item {
    border-bottom: 1px solid var(--color-grey-light);
    padding-bottom: 8px;
  }

  .header__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .header__link {
    display: block;
    padding: 5px 0;
    font-size: 1.1rem;
  }
}